/* Divider gradient */
.divider-gradient {
  height: 1px;
  background: linear-gradient(to right, red, transparent);
}

/* Hide the calendar picker icon in date inputs */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none; 
}

/* Cursor styles for interactive elements */
.remove-button,
table tr td[data-bs-target="#productModal"],
table tr th[data-bs-target="#productModal"],
table tr td[data-bs-target="#stockModal"],
table tr th[data-bs-target="#stockModal"],
table tr td[data-bs-target="#salesModal"],
table tr th[data-bs-target="#salesModal"] {
  cursor: pointer; 
}

/* Height for the dark button */
#dark-button {
  height: 33px; 
}

/* Card title styles */
.card-title {
  color: #707070; 
}

/* Icon styles */
.icons {
  height: 50px; 
  width: 50px; 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
}

/* Button styles */
.btn-outline-info, .btn-outline-warning {
  cursor: default; 
}

/* Navigation styles */
.nav-link {
  color: var(--text-color) !important; 
}

.nav-link.active {
  color: var(--primary-color) !important; 
}

.nav-link:hover {
  color: var(--primary-color-hover) !important; 
}

/* Search bar styles */
.search-bar div {
  width: 500px; 
}

/* Focus styles for form controls */
.form-control:focus,
.form-select:focus {
  border-color: var(--primary-color) !important; 
  box-shadow: 0 0 5px var(--primary-color) !important; 
}

/* Main button styles */
.main-button {
  background-color: var(--primary-color) !important; 
  color: var(--text-color-2) !important; 
}

.main-button:hover {
  background-color: var(--primary-color-hover) !important; 
}

/* Submit button shadow */
#submit-button {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
}

/* Table row hover effect */
tr:hover {
  background-color: var(--primary-color); 
}

/* Global HTML and body styles */
html,
body {
  transition: all var(--tran); 
  height: 100%; 
}

/* Text selection styles */
::selection {
  background-color: var(--primary-color); 
  color: var(--text-color-2); 
}

/* Divider gradient */
.divider-gradient {
  height: 1px; 
  background: linear-gradient(to right, var(--primary-color), transparent); 
}

/* Modal content border */
.modal-content {
  border: 2px solid var(--primary-color); 
}

/* Main color */
.main-color {
  color: var(--primary-color); 
}

/* Charts style */
#line {
  height: 300px; 
}

#pie,
#bar {
  height: 300px; 
  width: 450px; 
}

/* Cards stats style */
.col .card {
  border-color: var(--primary-color); 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
}

/* Pie & bar charts style */
.container .row .col-2 {
  width: 0; 
  height: 200px; 
  border-radius: 5px; 
  border: 1px solid var(--primary-color); 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
}
